## this is a template for the env needed to run the app locally. check with the repo owner for up-to-date var's.

# # When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# CharityAPI
# https://docs.charityapi.org/#introduction
NEXT_PUBLIC_CHARITY_API_KEY=

# Supabase server-side
SUPABASE_URL=
SUPABASE_KEY=
# Supabase client-side
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_KEY=
